<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to website, <%= @user.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.name %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
 
    <img src='https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2F736x%2F07%2Fa8%2Fa4%2F07a8a44ac93a9de84923b0d3c42224dc.jpg&tbnid=OnAsoqQj9HNHgM&vet=12ahUKEwj236yCytyEAxVG-TgGHW6XChgQMygFegQIARBZ..i&imgrefurl=https%3A%2F%2Fwww.pinterest.com%2Fpin%2Faesthetic-thank-you-card-landscape--498844096238412280%2F&docid=EMO-C2-wCKbI3M&w=735&h=521&q=thank%20you%20for%20login%20image&ved=2ahUKEwj236yCytyEAxVG-TgGHW6XChgQMygFegQIARBZ'>

  </body>
</html>
